/* General body styling */
body{
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
}

/* Styling for nav bar */
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
}
/* Styling for section titles and app name cards */
h2, h3 {
    display: flex;
    justify-content: center;
}
/* Styling for logo img*/
#ggme-logo {
    display:flex;
    position: fixed;
    
}

/* Styling for 'About Me' section */
.aboutMeCon {
    display:flex;
    justify-content: center;
}

/* Styling for application demos */
.myAppCon {
    display: flex;
    justify-content: space-evenly;
}

/* Styling for 'Contact Info */
.contactCon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for footer */
footer {
    display: flex;
    justify-content: center;
}